//--ignore-compile

.hourly-container {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
	min-width: 100%;
	justify-content: flex-start;
	align-items: center;

	&::-webkit-scrollbar {
		display: none;
	}

	.hourly-div {
		min-width: 40%;
		height: 300px;
		border-radius: 10px;
		box-shadow: 0 0 0.25em 0 #eee;
		margin: 5%;
		padding: 1em;
		color: #000;
		background-color: rgba(255, 255, 255, 0.5);
		position: relative;

		.icon {
			width: 100px;
			height: 100px;
		}

		.wind {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			img {
				width: 25px;
				height: 25px;
			}
		}
		.humid {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 40px;
			img {
				width: 25px;
				height: 25px;
			}
		}

		h5 {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			padding: 1em;
			font-size: 1em;
		}
	}
}