//--ignore-compile

.todays-forcast.blur {
	filter: blur(5px);
}

.todays-forcast {
	padding: 1em;
	margin: 1em;
	border-radius: 1em;

	.icon {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.dates-location {
		position: absolute;
		top: 25px;
		right: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.todays-date-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 2em;

			.week-day {
				font-weight: 600;
				font-size: 50px;
			}

			.year-day {
				font-weight: 600;
				font-size: 25px;
			}
		}
		.location {
			text-align: center;
			max-width: min-content;

			.location-icon {
				font-size: 2em;
			}
		}
	}

	.info-body {
		margin-top: 165px;
		.weather-name {
			align-self: flex-start;
		}

		.temp-windspeed {

			.wind-container {
				display: flex;
				justify-content: start;
				align-items: center;
				.wind {
					width: 30px;
					height: 30px;
				}
			}

			.location {
				font-size: 1em;
				max-width: 25%;
			}
		}
	}
}