//--ignore-compile
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kavoon', cursive;
}

.day-background {
	.bg-img {
		background-image: url("./assets/daytime-bg.jpeg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100vh;
		min-width: 100vw;
		position: fixed;
		z-index: -1;
	}

	@media (min-width: 0px) and (max-width: 1000px) {
		.bg-img {
			background-image: url("./assets/mobile/mobileday-bg.jpg");
		}
	}

	.todays-forcast {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: none;
	}
	.hourly-div {
		background-color: rgba(255,255,255,0.4);
		box-shadow: none;
	}
	.day {
		background-color: rgba(255,255,255,0.4);
		box-shadow: none;
	}
	.article {
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: none;
	}
}

.night-background {
	.bg-img {
		background-image: url("./assets/nightime-bg.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100vh;
		min-width: 100vw;
		position: fixed;
		z-index: -1;
	}

	@media (min-width: 0px) and (max-width: 1000px) {
		.bg-img {
			background-image: url("./assets/mobile/mobilenight-bg.jpeg");
		}
	}

	.todays-forcast {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		box-shadow: 0 0.1em 0.25em 0 #9d4edd;
	}
	.hourly-div {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		box-shadow: 0 0.1em 0.25em 0 #9d4edd;
	}
	.day {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		box-shadow: 0 0.1em 0.25em 0 #9d4edd;
	}
	.article {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		box-shadow: 0 0.1em 0.25em 0 #9d4edd;
	}
}

.main-sec {
	padding-top: 0.1em;
}

.loading {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}